<header id="header">
  <div id="banner">
    <div id="banner-right"></div>
  </div>
  <div id="header-outer" class="outer">
    <div id="header-title" class="inner">
      <h1 id="logo-wrap">
        <a href="/" id="logo">{{title}}</a>
      </h1>
      <h2 id="subtitle-wrap" v-if="global.subtitle">
        <a href="/" id="subtitle">{{subtitle}}</a>
      </h2>
    </div>
    <div id="header-inner" class="inner">
      <nav id="main-nav">
        <ng-container *ngFor="let menu of menus">
          <ng-container *ngIf="menu.layout === 1">
            <a class="main-nav-link" href="{{menu.path}}">
              <i class="{{menu._class}}" title="{{menu.name}}"></i>
            </a>
          </ng-container>
          <ng-container *ngIf="menu.layout === 2">
            <a class="main-nav-link" href="{{menu.path}}">
              <i class="menu.class" title="{{menu.name}}"> </i> {{ menu.name }}
            </a>
          </ng-container>
          <ng-container *ngIf="menu.layout === 3">
            <a class="main-nav-link" href="{{menu.path}}"> {{ menu.name }}</a>
          </ng-container>
        </ng-container>
      </nav>
      <nav id="sub-nav">
        <a id="nav-rss-link" class="nav-icon" title="RSS Feed" href="theme.rss" v-if="theme.rss"></a>
        <a id="nav-search-btn" class="nav-icon" title="Search" (click)="startSearchAnimation(search)"
           (blur)="stopSearchAnimation()"></a>
      </nav>
      <div id="search-form-wrap" class="{{isActive}}">
        <form action="//google.com/search" accept-charset="UTF-8" class="search-form">
          <input #search type="search" name="q" class="search-form-input" placeholder="Search"
                 (blur)="stopSearchAnimation()">
          <button class="search-form-submit"></button>
          <input type="hidden" name="sitesearch" value="http://Tsuki.github.io"></form>
      </div>
    </div>
  </div>
</header>
